@media only screen and (max-width: 768px) {
  header {
    margin: 0 64px;
  }

  main {
    margin: 32px 64px;
  }

  #project1, #project2, #project3, #project4 {
    display: block;
    font-size: 13px;
  }
}

@media only screen and (max-width: 512px) {
  header {
    height: 96px;
    margin: 0 32px;
  }

  #tagline, #colorText, #endText {
    font-size: 2em;
  }

  main {
    margin: 16px 32px;
    min-height: 384px;
  }

  #content {
    display: block;
    margin-bottom: 32px;
  }

  nav {
    position: absolute;
    top: 32px;
  }

  nav ul li {
    display: inline;
    font-size: .5em;
    padding-left: 0;
    padding-right: 18px;
  }

  #copyright {
    display: none;
  }

  #bunnies img {
    width: 3em;
  }
}

@media only screen and (max-width: 360px) {
  #bunnies {
    display: none;
  }
}