/* Media Queries */
/* 1500 */
@media only screen and (max-width: 1500px) {
  main {
    width: 100% !important;
  }
  .column {
    max-width: 20rem !important;
    width: 20rem;
    transition: 1s ease;
  }
}

/* 1024 */
@media only screen and (max-width: 1024px) {
  body {
    background-size: 140% !important;
    transition: 1s ease;
  }
  .column {
    max-width: 16rem !important;
    transition: 1s ease;
  }
  
  #about p {
    width: 60rem !important;
  }
}

/* 768 */
@media only screen and (max-width: 768px) {
  .text, .overlay {
    display: none !important;
  }
  
  .container h3 {
    top: 20% !important;
  }
  .column {
    max-width: 11.75rem !important;
  }
  
  #me {
    width: 10rem !important;
  }
  
  #about p {
    width: 45rem !important;
    margin-left: 1em;
  }
}

/* Phones */

@media only screen and (max-width: 512px) {
  html, body {
    overflow-x: hidden !important;
  }
  header {
    position: initial !important;
    top: 0 !important;
  }
  
  header h1 {
    font-size: 1.9em;
  }
  
  nav {
    font-size: .9em;
  }
  #desktop-clear {
    display: none;
  }
  
  .container h3 {
    display: none !important;
  }
  
  .column {
    max-width: 15rem !important;
  }
  
  #me {
    display: none;
  }
 
  #about p {
    font-size: .9rem !important;
    width: 17rem !important;
  }
  
  h2 {
    text-align: center;
  }
}