/* Keyframes */
@-webkit-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeout {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes fadeout {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes fadeout {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadeout {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow-x: hidden;
}

header {
  position: relative;
  top: 0;
  max-width: 50rem;
  display: block;
  margin: 0 auto;
  font-size: 4em;
  font-weight: 600;
  height: 160px;
}

nav {
 position: sticky;
 top: 0;
}

nav ul {
  list-style-type: none;
  font-family: "Josefin Slab";
  font-size: 1.75em;
  font-weight: 600;
  text-align: right;
}

nav ul li {
  padding: 18px;
  padding-right: 0;
}

nav ul li:first-child {
  padding-top: 0;
}

nav ul li a {
  
  text-decoration: none;
  color: #1A181D;
  transition: .3s ease;
  text-transform: lowercase;
}

nav ul li a.active {
  color: #652E8A;
}

nav ul li a:hover {
  color: #652E8A;
  transition: .3s ease;
}

body {
  background: #FDFBFE;
  font-size: 16px;
  font-family: "Nunito";
  animation-name: fadein;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

main {
  max-width: 50rem;
  display: block;
  margin: 1em auto;
}

#content {
  animation-name: fadein;
  animation-duration: 2s;
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 2s;
  -moz-animation-name: fadein;
  -moz-animation-duration: 2s;
  font-family: "Nunito";
  font-size: 1em;
  font-weight: 400;
  color: #1A181D;
  text-transform: none;
  margin-top: 48px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 16px;
}

#text-content p {
  margin-bottom: 24px;
}

#text-content strong {
  font-weight: 700;
  color: #652E8A; 
}

#text-content strong a {
  text-decoration: none;
  color: #652E8A;
  transition: .5s ease;
}

#text-content strong a:hover {
  text-decoration: underline;
  transition: .5s ease;
}

#colorText {
  color: #652E8A; 
}

#tagline, #colorText, #endText {
  font-family: "Josefin Slab";
  display: inline;
  font-size: 2.75em;
  text-transform: lowercase;
  font-weight: 500;
}

#copyright {  
  font-size: .5em;
  color: #652E8A;
}

#bunnies {
  padding-bottom: 0;
}

h2 {
  font-family: "Josefin Slab";
  font-weight: 600;
  color: #1A181D;
  font-size: 2em;
}

h2 span {
  color: #652E8A;
}

hr {
  border-top: 1px dotted #652E8A;
}

#works {
  max-width: 576px;
  display: grid;
  max-height: 600px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 32px;
  margin: 0 auto;
}

#works img {
  width: 96%;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  border-radius: 16px;
  cursor: pointer;
  transition: .3s ease;
}

#works img:hover {
  width: 100%;
  transition: .3s ease;
}